.open-link {
    color: #2DBC94 !important
}

.title {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 600 !important;
}

.description {
    font-size: 1.2rem !important;
}