.submit-button {
    background-color: #2DBC94 !important;
    border-color: #2DBC94 !important;
    font-weight: 600 !important;
  }

  .submit-button:hover {
    background-color: #1da07b !important;
    border-color: white !important;
  }

