body {
    font-family: 'Source Sans Pro', sans-serif !important;
}

.open-link {
    color: #2DBC94 !important;
    font-weight: 600 !important;
}

.buttons-movie {
    background-color: #2DBC94 !important;
    border: none !important;
    font-weight: 600 !important;
}

.movie-img {
    min-height: fit-content !important;
}