.link {
    color: #2DBC94 !important;
    background-color: white !important;
}

.navbar-bg{
    background-color: #2DBC94 !important;
    color:white !important;
}

.navbar-text{
    background-color: #2DBC94 !important;
    color:white !important;
    font-weight: 600 !important;
}